#container {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(black));
  background: -moz-linear-gradient(top, #444, black);
}
.preloader {
    position:absolute;
    left:5%;
    top:5%;
    width:90%;
    height:90%;
    text-align: center;    
}
#preloader-bg {
    visibility: hidden;
}
#preloader-img {
    visibility: hidden;
}
#preloader-img img {
    margin-top: 30px;
}

#info {
    position: absolute;
    top: 97%;
    left: 97%;
    color: #fff;
}

#slides {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    left:5%;
    top:5%;
    width:90%;
    height:90%;
    text-align: left;
    background: #eee;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.slide.previous {
    margin-left: -10000px;
}
.slide.next {
    margin-left: 10000px;
}

.no-js #slides,
.no-js #preloader-bg,
#slides {
    display: none;
}

#container #slides {
    display: none;
}
#container #info {
    display: none;
}
#container.active #info {
    display: block;
}
#container.active #preloader {
}
#container.active #slides {
    display: block;
}

/** styling **/
body {
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
}
.slide section {
    padding: 30px;
}
.slide section {
    font-size: 50px;
}
.slide header {
    padding: 30px;
    font-size: 80px;
    color: #000;
}
.slide .highlight {
	border: 3px dashed #000;
}
#slide-start {
    vertical-align: middle;
    text-align: center;
}
#slide-start header {
    margin-top: 15%;
    font-size: 90px;
    letter-spacing: -2px;
    color: #000;
}
#slide-start header {
    
}