.presentation .l-wrap { width:100%; height:100%; min-height:100%; position:relative; /*background:#ede2bd;*/ overflow:hidden; }
    .preview .l-wrap { position:absolute; width:1024px; height:768px; min-height:0; left:50%; top:50%; margin:-384px 0 0 -512px; border:1px dashed #666; }
    .presentation .l-slide { width:80%; height:74%; margin:0 0 0 10%; position:relative; top:13%; left:0; /*background:#bdc3ed;*/ }
        .presentation .b-content { width:100%; height:80%; position:relative; top:10%; left:0; padding-top:1em; /*background:#dfedbd;*/ }
        
#start .b-content { padding:0; position:absolute; }
#end .b-content { margin-top:-0.5em; padding:0; position:absolute; }

.presentation .column { position:relative; float:left; width:46%; height:80%; top:10%; left:0; padding-top:1em; /*background:#dfedbd;*/ }
.presentation .column-right { margin-left:5%; width:48%; }